################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/firmware/sam_d21_iot_wg.X/build/SAMD21_WG_IOT/production/_ext
/firmware/sam_d21_iot_wg.X/dist/SAMD21_WG_IOT/production
/firmware/sam_d21_iot_wg.X/build/SAMD21_WG_IOT/debug/_ext
/firmware/sam_d21_iot_wg.X/dist/SAMD21_WG_IOT/debug
